# Entornos virtuales
.venv/
env/
venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Credenciales y archivos de entorno (¡SÚPER IMPORTANTE!)
database.ini
src/database.ini

# Archivos generados por el programa
reportes_generados/
*.pdf
*.txt

# Incluir el archivo de requisitos para python
!requirements.txt

# Ignorar archivos latex, pero no los PDFs generados
*.tex
*.log
*.aux
*.out
*.toc
*.png
USB - LSBD - PRY03 - FUNC - 2010479 - 2010527 - 2010274 - 2110447 - 1910175 - 1810436.pdf
!FUNCIONAL.pdf
USB-LSBD-PRY03-TECN-2010479-2010527-2010274-2110447-1910175-1810436.pdf
