babel==2.18.0
customtkinter==5.2.2
darkdetect==0.8.0
defusedxml==0.7.1
fonttools==4.62.1
fpdf2==2.8.7
greenlet==3.3.2
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pillow==12.2.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==2.0.49
tkcalendar==1.6.1
typing_extensions==4.15.0
tzdata==2026.1
